{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "google"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": ["build/", "examples/"],
  "rules": {
    "max-len": "off",
    "linebreak-style": "off"
  }
}
